@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/***********************LOGIN**************************/
.login {
  text-align: center;
  margin: 80px auto;
  width: 280px;
  animation: fadeIn 1.5s;
}

.login .logo {
  width: 120px;
}

.login form {
  margin: 40px auto;
  width: 100%;
}

.login form input:focus {
  outline: none;
}

.login-email,
.login-password {
  position: relative;
  margin-bottom: -2px;
}

.login-email input,
.login-password input{
  padding: 15px;
  width: 100%;
  font-size: 0.9em;
  text-indent: 30px;
  border: 2px solid #dddddd;
}

.login-email .material-icons,
.login-password .material-icons {
  position: absolute; 
  color: #cccccc;
  padding: 15px;
  height: 20px;
  vertical-align: middle;
}

.login-remember,
.login-forget-password {
  float: left;
  width: 50%;
  margin-top: 15px;
  font-size: 0.8em;
}

.login-remember {
  text-align: left;
}

.login-forget-password {
  text-align: right;
}

.login-forget-password a {
  text-decoration: none;
  /*color: grey;*/
}

.login-forget-password a:hover {
  color: #F3A81D;
}

.login button {
  font-size: 0.9em;
  padding: 15px;
  width: 100%;
  border: 0;
  background-color: #F3A81D;
  color: white;
  margin-top: 20px;
}

/***********************DASHBOARD************************/

.dashboard-navbar {
  height: 60px;
  background-color: black;
  color: white;
  vertical-align: middle;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2)
}

.dashboard-company {
  height: 100%;
  float: left;
  width: 120px;
  word-wrap: normal;  
  text-align: left;
}

.dashboard-company h1 {
  font-size: 1.5em;
  font-family: 'Oswald';
  vertical-align: middle;
  font-weight: bold;
  padding: 16px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;    
}

.dashboard-nav {
  float: right;
  text-align: center;
  width: 180px;
  height: 60px;
}

.dashboard-nav .home,
.dashboard-nav .user,
.dashboard-nav .faq {
  height: 100%;
  width: 60px;
  text-align: center;
  float: left;
}

.dashboard-nav .home {
  background-color: #F38820;
}

.dashboard-nav .user {
  background-color: #FF9C3B;
  position: relative;
  display: inline-block;
}

.dashboard-nav .user__dropdown {
  position: absolute;
  z-index: 999;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 60px;
  left: -50px;
  display: none;
}

.dashboard-nav .user:hover .user__dropdown {
  display: block;
}

.dashboard-nav .user__dropdown ul {
  padding: 0;
  margin: 0;
  width: 150px;
}

.dashboard-nav .user__dropdown ul li {
  list-style: none;
  padding: 15px;
  color: grey;
}

.dashboard-nav .user__dropdown ul li:hover {
  background-color: #eeeeee;
  text-decoration: none;
}

.dashboard-nav .user__dropdown ul a:hover {
  text-decoration: none;
}

.dashboard-nav .faq {
  background-color: #A65B10;
}

.dashboard-nav .home .material-icons,
.dashboard-nav .user .material-icons,
.dashboard-nav .faq .material-icons {
  font-size: 25px;
  vertical-align: middle;
  padding: 16px 0;
  text-align: center;
  color: white;
}

.dashboard-search {
  text-align: center;
  margin-top: 50px;  
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.dashboard-search input {
  padding: 15px;
  width: 100%;
  background-color:rgba(0,0,0,0.06);
  border: 0;
  text-indent: 40px;
  border-radius: 5px;
}

.dashboard-search input::placeholder {
  color: #aaaaaa;
}

.dashboard-search input:focus {
  outline: 0;
}

.dashboard-search .glyphicon{
  position: absolute;
  z-index: 999;
  padding: 19px;
  color: #aaaaaa;
}

@media screen and (min-width: 480px) {
  .dashboard-company {
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .dashboard-search {
    width: 600px;
  }
}

.wrapper {
  max-width: 994px;
  margin: 0 auto;
}

.table {
  width: 100%;
  text-align: left;
  margin-top: 50px;
  table-layout: fixed;
}

.table thead tr th {
  font-family: Avenir;
  text-transform: capitalize;
  color: #F38820;
  border-bottom: 2px solid #F38820;
  padding: 18px;
}

.table tbody {
  overflow-y: auto;
  height: 100px;
}

.table tbody tr td {
  padding: 18px;
}

.table__item__name {
  width: 40%;
}
.table__item__policy,
.table__item__expire {
  width: 30%;
  word-wrap: break-word;
}

.table__row:hover {
  background-color: #fff7ef;
  cursor: pointer;
}